<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get trending campus feeds and news.">
    <meta name="keywords" content="Campus Blogs">
    <title>Car rental | admin page</title>
    <!-- category css route -->
    <link rel="shortcut icon" href="../assests/logo.png" type="image/x-icon">
    <!--  -->
    <link rel="shortcut icon" href="assests/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- facebook -->
    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="https://campus-blog.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Campus Blogs">
    <meta property="og:image" content="https://campus-blog.onrender.com/assests/logo.png">
    <meta property="og:description" content="Get trending campus feeds and news.">
    <meta property="og:site_name" content="Campus Blogs">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="Created for campus students.">
    <!-- twitter -->
    <meta name="twitter:card" content="Campus Blogs">
    <meta name="twitter:site" content="@DscRongo">
    <meta name="twitter:creator" content="@DscRongo">
    <meta name="twitter:url" content="https://twitter.com/DscRongo">
    <meta name="twitter:title" content="Campus Blogs">
    <meta name="twitter:description" content="Get trending campus feeds and news.">
    <meta name="twitter:image" content="https://campus-blog.onrender.com/assests/logo.png">
    <!-- google -->
    <link href="https://plus.google.com/imran20%matano" rel="publisher">
    <meta itemprop="name" content="Campus Blogs">
    <meta itemprop="description" content="Get trending campus feeds and news.">
    <meta itemprop="image" content="https://campus-blog.onrender.com/assests/logo.png">
    <!-- pwa -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- scripts -->
</head>