@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@media screen and (max-width:800px){
    .login-form{
        width: 100%;
    }

    nav .nav-links{
        display: none;
    }
    .lock-icon{
        display: none;
    }
    .products-window{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products{
        width: 60vw;
        padding: 10px 20px;
    }
    .cart{
        top: 30vh;
        /* left: 10vw;
        right: 10vw; */
    }
    .cart .item{
        /* width: 80vw; */
    }
}