@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
    font-family: 'Roboto Condensed';
    color: #213547;
    --gray:rgb(187, 184, 184);


}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    color: inherit;
}
a{
    text-decoration: none;
    color: #213547;
}
ul{
    list-style: none;
}
.top{
    background:rgb(2, 131, 2); 
    width:100%;
    color: white;
    padding: 10px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    border-bottom: solid 1px var(--gray);
    margin-bottom: 20px;
    font-size: large;
}
nav .logo{
    width: 150px;
    height: 60px;
}
nav ul{
    display: flex;
    margin: 0 10px;
}
nav ul li{
    margin: 0 30px;
    display: flex;
    width: 60px;
}
nav .search-input{
    border: solid 1px var(--gray);
    border-radius: 10px;
    width: 50vw;
    height: 40px;
    padding: 2px 10px;
    font-size: medium;
    margin: 10px 0 0 50px;
}
nav .search-input::placeholder{
    color: #213547;
}
.cat-section{
    padding: 30px 20px;
}
.cat-section .select-category{
    width: 400px;
    font-size: medium;
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Roboto Condensed';
    background: white;
}
.hero-section{
    background: url("/hero1.png") no-repeat center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    font-size: large;
    margin-bottom: 50px;
    padding-left: 20px;
}
.about-section{
    background: rgb(16, 117, 2);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px 10vw;
    color: aliceblue;
    font-size: large;
}

