@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
    font-family: 'Roboto Condensed';
    color: #213547;
    --gray:rgb(187, 184, 184);

}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    color: inherit;
}
a{
    text-decoration: none;
    color: #213547;
}
ul{
    list-style: none;
}
.top{
    background:rgb(2, 131, 2); 
    height:30px; 
    width:100%;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    border-bottom: solid 1px var(--gray);
    margin-bottom: 20px;
    font-size: large;
}
nav .logo{
    width: 150px;
    height: 60px;
}
nav ul{
    display: flex;
    margin: 0 50px;
}
nav ul li{
    margin: 0 30px;
    display: flex;
    width: 40px;
}
nav .search-input{
    border: solid 1px var(--gray);
    border-radius: 10px;
    width: 45vw;
    height: 40px;
    padding: 2px 10px;
    font-size: medium;
}
nav .search-input::placeholder{
    color: #213547;
}

