@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
    font-family: 'Roboto Condensed';
    color: #213547;
    --gray:rgb(187, 184, 184);
    /* background: #fcf7f7; */
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    color: inherit;
}
a{
    text-decoration: none;
    color: #213547;
}
ul{
    list-style: none;
}
.top{
    background:rgb(15, 87, 6); 
    width:100%;
    color: white;
    padding: 10px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    font-size: large;
}
nav .logo{
    width: 150px;
    height: 60px;
}
nav ul{
    display: flex;
    margin: 0 10px;
}
nav ul li{
    margin: 0 30px;
    display: flex;
    width: 60px;
}
nav .search-input{
    border: solid 1px var(--gray);
    border-radius: 10px;
    width: 50vw;
    height: 40px;
    padding: 2px 10px;
    font-size: medium;
    margin: 10px 0 0 50px;
}
nav .search-input::placeholder{
    color: #213547;
}
.cat-section{
    padding: 30px 20px;
}
.cat-section .select-category{
    width: 50vw;
    font-size: medium;
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Roboto Condensed';
    background: white;
}
.hero-section{
    background: url("/hero1.png") no-repeat center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    font-size: large;
    padding-left: 20px;
}
.about-section{
    background: rgb(15, 87, 6);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 120px 10vw;
    color: aliceblue;
    font-size: large;
    text-align: center;
}

.cat-body{
    padding: 20px;
}
.cat-body h1{
    color: rgb(12, 66, 4);
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}
.cat-body .cat-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
button{
    background: rgb(18, 109, 3);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.cat-body .cat-items .item{
    background: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.item p{
    font-size: large;
    font-weight: 700;
    margin: 10px 0;
}

footer{
    display: flex;
    flex-direction: column;
    background: rgb(12, 66, 4);
    color: white;
    padding: 40px 30px;
}
footer a{
    color: white;
    font-size: large;
    font-weight: 600;
    margin: 10px 0;
}
.copy-write{
    text-align: center;
    background: rgb(9, 56, 1);
    padding: 10px 0;
    color: white;
}

#auth{
    height: 100vh;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
#login h2{
    font-size: 50px;
    margin-bottom: 40px;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form input{
    background: #bfdefa;
    width: 50vw;
    height: 50px;
    font-size: large;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    color: gray;
}
input::placeholder{
    font-size: large;
}

.cart,.payment{
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #213547; */
    display: none;
}
.cart .cart-item, .payment .cart-item{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-item .header, .payment .cart-item .header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.cart-item .header p, .payment .header p{
    font-size: 35px;
    font-weight: 600;
    margin-right: 50px;
}
.order-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.order-page .order-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 20px 0 150px 0;
}
.order-page .order-list .my-order{
    border:1px solid #213547;
    cursor: pointer;
    padding: 30px;
    border-radius: 10px;
    font-size: larger;
}