<html lang="en">
<%- include('./partials/head.ejs')%>
<style>
   .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .links{
    font-size: large;
   }
    @media screen and (max-width:600px) {
        
    }
</style>
<body>
    <div class="home">
        <h1>Tables</h1>
        <ul class="links">
            <%tables.forEach(i=>{%>
                <li><a href="/admin/tables/<%=i%>"><%=i%></a></li>
            <%})%>
        </ul>
    </div>
    <script>
        if(!sessionStorage.getItem("token")){
            window.location.href="/admin"
        }
    </script>
</body>
</html>